* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* COURSES */
.course-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #020617;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #1e293b;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #22c55e;
  border: none;
}

/* OFFLINE */
.highlight {
  color: #facc15;
  margin-top: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
